<div class="chart-container">
    <div class="row">
        <div class="chart-card">
            <h2>Consumo Total ao Longo do Tempo</h2>
            <canvas #lineChart></canvas>
        </div>

        <div class="chart-card">
            <h2>Consumo Total por Aparelho</h2>
            <canvas #barChart></canvas>
        </div>
    </div>

    <div class="center">
        <div class="chart-card">
            <h2>Consumo Médio por Aparelho</h2>
            <canvas #avgChart></canvas>
        </div>
    </div>
</div>